RewriteEngine On
RewriteBase /

# Explicit rule for /msc
RewriteRule ^msc/?$ msc.php [L,NC]

# If request is not a real file or folder
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Add .php extension automatically
RewriteRule ^([^\.]+)$ $1.php [L,NC]
