RewriteEngine On

# Serve msc.php when /msc is requested
RewriteRule ^msc/?$ msc.php [L]

# Generic PHP extension handler
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([^\.]+)$ $1.php [L]
